# local .terraform dir
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variable files, may include sensitive data
*.tfvars

# Ignore CLI configurations files
.terraformrc
terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
.DS_Store

# Ignore crash logs
crash.log

# Ignore GraphViz Files
plan.json
plan.out
graph.svg
